{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Image Upload</title>
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
  </head>
  <body>
    <div class="container">
      <i class="section">
        <h1 class="is-size-1">Upload Image</h1>
        <hr><br>
        <form action="{% url "upload" %}" method="post" enctype="multipart/form-data" class="form">
          {% csrf_token %}
          <div class="field">
            <div class="control">
              <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" name="image_file">
                  <span class="file-cta">
                    <span class="file-label">Choose a file...</span>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" name="desc" class="button is-primary" />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="image_type" value='public' checked>
                Public
              </label>
              <label class="radio">
                <input type="radio" name="image_type" value='private'>
                Private
              </label>
            </div>
          </div>
        <div class="select">
            <div class="control">
                <label for="collections">Choose collection </label>
                <select name="collections" id="collections">
                  <option value="Halloween">halloween</option>
                  <option value="Minecraft">minecraft</option>
                  <option value="Sonic">sonic</option>
                  <option value="Pokemon">pokemon</option>
              </select>
            §</div>
          </div>
        <div class="select">
            <div class="control">
                <label for="rarity">Choose rarity </label>
                <select name="rarity" id="rarity">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
              </select>
            §</div>
          </div>
          <br>
          <div class="field">
            <div class="control">
              <input type="submit" value="Submit" class="button is-primary" />
            </div>
          </div>
        </form>
        <br><br>
        {% if image_url %}
          <p>File uploaded at: <a href="{{ image_url }}">{{ image_url }}</a></p>
        {% endif %}
        {% if images %}
            {% for img in images %}
                <img src="{{ img }}" width="100px" height="100px">
            {%  endfor  %}
        {%  endif %}
      </div>
    </div>
  </body>
</html>